*.bkp
*.log
*.orig
*~
.commit
.#*

*.py[cod]

.*.sw[a-z]
.swp
.project
.buildpath
.settings/
.svn/
.htaccess
application/logs/
nbproject/
nbproject/private/
attatchment/
download/
!media/download/
webscan_360_cn.html
.idea/
*.xls
*.xlsx
